{% extends "base.html.twig" %}

{% block title %}Index{% endblock %}

{% block body %}
<h1>Bonjour {{app.User.username}}</h1>
{% endblock %}


    {# <h1>Nos utilisateur :</h1>
    <table class="table">
    <thead>
    <tr>
        <th>Id</th>
        <th>Username </th>
        <th>Email</th>
    </tr>
    </thead>
    <tbody>
{% for utilisateur in utilisateurs %}
    <tr>
        <td scope="row">{{utilisateur.id}}</td>
        <td>{{utilisateur.username}}</td>
        <td>{{utilisateur.email}}</td>
    </tr>
{% endfor %}
    </tbody>
</table> #}


